*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(118, 181, 244) 50%,rgb(37, 38, 39) 50%);
}
#card{
    height: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    background-color: rgb(18, 42, 79);
    border-radius: 10px;
}
h2{
    color: rgb(219, 166, 255);
}
.two{
    font-weight: bolder;
    color:rgb(255, 255, 255)
}